In [2]:
import pandas as pd
import numpy as np


csv = pd.read_csv('water_counties_cleaned.csv')
csv.head()

,name,state,code,value,lat,id
0,Aleutians East Borough,AK,3341,160000,47.89,USA.AK.Aleutians East Borough
1,Aleutians West Census Area,AK,5702,420000,73.66,USA.AK.Aleutians West Census Area
2,Municipality of Anchorage,AK,298695,31920000,106.86,USA.AK.Municipality of Anchorage
3,Bethel Census Area,AK,17945,280000,15.6,USA.AK.Bethel Census Area
4,Bristol Bay Borough,AK,892,70000,78.48,USA.AK.Bristol Bay Borough

In [4]:

northeast_div1 = ['MA', 'NH', 'VT', 'RI', 'CT', 'ME']
northeast_div2 = ['PA', 'NY', 'NJ']

midwest_div1 = ['IL', 'IN', "MI", 'OH', 'WI']
midwest_div2 = ['IA', 'KS', 'MN', 'MO', 'NE', 'ND', 'SD']

south_div1 = ['DE', 'FL', 'GA', 'MD', 'NC', 'MS', 'SC', 'VA', 'DC', 'WV']
south_div2 = ['AL', 'KY', 'MI', 'TN']
south_div3 = ['AR', 'LA', 'OK', 'TX']

west_div1 = ['AZ', 'CO', 'ID', 'MT', 'NV', 'NM', 'UT', 'WY']
west_div2 = ['AK', 'CA', "WA", 'OR']

islands = ['HI', 'PR', 'VI']


def getRegion(state):
    if state in northeast_div1 + northeast_div2:
        return 'Northeast'
    elif state in midwest_div1 + midwest_div2:
        return 'Midwest'
    elif state in south_div1 + south_div2 + south_div3:
        return 'South'
    elif state in west_div1 + west_div2:
        return 'West'
    elif state in islands:
        return 'Islands'

In [57]:
# regions = {}

# def toDict(val):
#     return {
#         "name": val['name'],
#         "value": val
#     }

# for state in csv['state'].unique():
    
#     state_data = csv[csv.state == state]
#     state_dict = state_data.to_dict(orient='records')
#     dict_state_data = list(map(toDict, state_dict))
#     reg = getRegion(state)
    
#     if reg in regions:
#         regions[reg]['children'].append({
#             "name": state,
#             "children": dict_state_data
#         })
#     else: 
#         regions[reg] = {
#             "name": reg,
#             "children" : [{
#                 "name": state,
#                 "children": dict_state_data
#             }]
#         }

    
# region_list = []
# for reg in regions.keys():
#     region_list.append(regions[reg])
# with open('output.json', 'w') as output:
#     output.write(str(region_list))

In [5]:
full = pd.read_csv("usco2015v2.0.csv")
full.head()

,STATE,STATEFIPS,COUNTY,COUNTYFIPS,FIPS,YEAR,TP-TotPop,PS-GWPop,PS-SWPop,PS-TOPop,...,TO-WGWTo,TO-WSWFr,TO-WSWSa,TO-WSWTo,TO-WFrTo,TO-WSaTo,TO-Wtotl,TO-CUsFrPartial,TO-CUsSaPartial,TO-CUTotPartial
0,AL,1,Autauga County,1,1001,2015,55.347,0.0,0.0,48.998,...,10.69,45.72,0.0,45.72,56.41,0.0,56.41,13.18,0.0,13.18
1,AL,1,Baldwin County,3,1003,2015,203.709,0.0,0.0,174.907,...,73.38,11.32,0.0,11.32,84.70,0.0,84.70,58.28,0.0,58.28
2,AL,1,Barbour County,5,1005,2015,26.489,0.0,0.0,24.587,...,6.06,2.96,0.0,2.96,9.02,0.0,9.02,2.96,0.0,2.96
3,AL,1,Bibb County,7,1007,2015,22.583,0.0,0.0,20.947,...,5.67,0.20,0.0,0.20,5.87,0.0,5.87,0.19,0.0,0.19
4,AL,1,Blount County,9,1009,2015,57.673,0.0,0.0,44.815,...,4.64,55.43,0.0,55.43,60.07,0.0,60.07,1.08,0.0,1.08

In [6]:
# We care about "
"""
STATE	
Tp-TotPop	* 1000
COUNTY	
PS-GWPop	* 1000000
DO-PSDel	* 1000000
IN-WGWFr	* 1000000
IR-WGWFr	* 1000000
LI-WGWFr	* 1000000
PT-WGWFr	* 1000000
"""

selected = ['STATE', 'COUNTY']
selectedX1e3 = ['TP-TotPop']
selectedX1e6 = ['PS-GWPop', 'DO-PSDel', 'IN-WGWFr', 'IR-WGWFr', 'LI-WGWFr', 'PT-WGWFr']


full[selectedX1e6] = full[selectedX1e6].astype('int32')

new_df = full[selected]
new_df[['state', 'name']] = new_df[selected]
new_df['totpop'] = full[selectedX1e3] * 1e3
new_df[['gwpop', 'domestic', 'industrial', 'irrigation', 'livestock', 'thermoelectric']] = full[selectedX1e6] * 1e6

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/frame.py:3381: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
by_state = new_df.groupby(['state']).sum().to_dict(orient='index')

new_df['region'] = new_df['state'].apply(getRegion)
by_region = new_df.groupby(['region']).sum().to_dict(orient='index')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
regions = {}

def toDict(val):
    return {
        "name": val['name'],
        "value": val['totpop'],
        "info": val
    }

for state in full['STATE'].unique():
    
    state_data = new_df[new_df.state == state]
    state_dict = state_data.to_dict(orient='records')
    dict_state_data = list(map(toDict, state_dict))
    reg = getRegion(state)
    
    if reg in regions:
        regions[reg]['children'].append({
            "name": state,
            "info": by_state[state],
            "children": dict_state_data
        })
    else: 
        regions[reg] = {
            "name": reg,
            "info": by_region[reg],
            "children" : [{
                "name": state,
                "info": by_state[state],
                "children": dict_state_data
            }]
        }

    
region_list = []
for reg in regions.keys():
    region_list.append(regions[reg])
    
with open('./docs/output.json', 'w') as output:
    string = str(region_list)
    string = string.replace("'", '"')
    string = string.replace('O"B', "O'B")
    string = string.replace('"s ', "'s ")
    output.write(string)